@{
    ViewBag.Title = "Magic Web Services";
}

<h2>Magic Web Services</h2>

<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Calculate Fee", "CalculateFee")</li>
    <li class="list-group-item">@Html.ActionLink("Process Transaction", "ProcessTransaction")</li>
    <li class="list-group-item">@Html.ActionLink("Virtual Terminal Transaction", "VirtualTerminalTransaction")</li>
    <li class="list-group-item">@Html.ActionLink("Tokenization", "Tokenization")</li>
    <li class="list-group-item">@Html.ActionLink("Void/Credit Processing", "ProcessCredit")</li>
    <li class="list-group-item">@Html.ActionLink("Export Methods", "ExportDetailedTransactions")</li>
    <li class="list-group-item">@Html.ActionLink("Verify Transaction", "VerifyTransaction")</li>
    <li class="list-group-item">@Html.ActionLink("Payment ID Lookup", "InsertPaymentIdLookup")</li>
</ul>

